# Resources required by the sample browser and most samples.

[Essential]
Zip=../../media/packs/SdkTrays.zip
FileSystem=../../media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.

[Popular]

FileSystem=../../media/materials/programs
FileSystem=../../media/materials/scripts
FileSystem=../../media/materials/textures
FileSystem=../../media/models
FileSystem=../../media/scene
FileSystem=../../media/circles
FileSystem=../../media/particle
FileSystem=../../media/UI

[General]
Zip=../../media/packs/SkyBoxes.zip
