<gameConfig>
  
	<data name="characterPosition">
    <!--<value x="0" y="6000" z="1500" />-->
    <value x="0" y="5200" z="0" />
	</data>
	
	<data name="characterScale">
		<value x="0.5" y="0.5" z="0.5" />
	</data>
	
	<data name="characterMaxSpeed">
		<value f="48" />
	</data>

  <data name="characterAcceleration">
    <value f="1.2" />
  </data>

  <data name="characterRotationSpeed">
    <value f="25.0" />
  </data>
	
	<data name="gravity">
		<value f="16.0" />
	</data>

  <data name="gravityAcceleration">
    <value f="0.0024" />
  </data>
	
	<data name="sightNodePosition">
		<value x="0" y="0" z="-50.0" />
	</data>
	
	<data name="cameraNodePosition">
		<value x="0" y="10.0" z="8.0" />
	</data>

  <data name="sightNodePosition2">
    <value x="0" y="0" z="-50.0" />
  </data>

  <data name="cameraNodePosition2">
    <value x="0" y="28.0" z="8.0" />
  </data>

  <data name="cameraTightness">
    <value x="2.0" y="2.0" z="2.0" />
  </data>
		
	<data name="planetObjectScaling">
		<value x="1.0" y="1.0" z="1.0" />
	</data>
	
	<data name="planetObjectTranslation">
		<value x="0" y="5250" z="0" />
	</data>
	
	<data name="mCameraManSpeed">
		<value f="15" />
	</data>
	
	<data name="targetPosition">
		<value x="0" y="5000" z="0" />
	</data>
	
	<data name="circleScale">
		<value x="0.75" y="0.75" z="0.75" />
	</data>
  
  <data name="villageSceneName">
    <value s="village.scene" />
  </data>

  <data name="circleSceneName">
    <value s="circles.scene" />
  </data>

  <data name="ggBirdSceneName">
    <value s="ggbird01.scene" />
  </data>

  <data name="ggBirdScale">
    <value x="2.0" y="2.0" z="2.0" />
  </data>

  <data name="ggBirdTraceSpeed">
    <value f="21.6" />
  </data>
  
  <data name="cloudHighestElevation">
    <value f="5350" />
  </data>

  <data name="kinectActivation">
    <value f="0" />
  </data>

  <data name="enableMainMenu">
    <value f="0" />
  </data>

  <data name="enableCameraMovement">
    <value f="1" />
  </data>

  <data name="openParachuteDelay">
    <value f="2.0" />
  </data>
	
</gameConfig>

