<gameConfig>
	<data name="characterPosition">
		<value x="0" y="6000" z="1000" />
	</data>
	
	<data name="characterScale">
		<value x="0.5" y="0.5" z="0.5" />
	</data>
	
	<data name="characterMaxSpeed">
		<value f="20" />
	</data>

  <data name="characterAcceleration">
    <value f="0.4" />
  </data>

  <data name="characterRotationSpeed">
    <value f="100.0" />
  </data>
	
	<data name="gravity">
		<value f="8.0" />
	</data>
	
	<data name="sightNodePosition">
		<value x="0" y="0" z="-250.0" />
	</data>
	
	<data name="cameraNodePosition">
		<value x="0" y="25.0" z="20.0" />
	</data>

  <data name="cameraTightness">
    <value x="0.7" y="0.7" z="0.7" />
  </data>
		
	<data name="planetObjectScaling">
		<value x="5.0" y="5.0" z="5.0" />
	</data>
	
	<data name="planetObjectTranslation">
		<value x="0" y="5250" z="0" />
	</data>
	
	<data name="mCameraManSpeed">
		<value f="15" />
	</data>
	
	<data name="targetPosition">
		<value x="0" y="5050" z="100" />
	</data>
	
	<data name="circleScale">
		<value x="1.0" y="1.0" z="1.0" />
	</data>
  
  <data name="villageSceneName">
    <value s="village_few.scene" />
  </data>

  <data name="circleSceneName">
    <value s="circles.scene" />
  </data>
  
  <data name="cloudHighestElevation">
    <value f="5350" />
  </data>
	
</gameConfig>